html, body{
    padding: 0;
    margin: 0;
}
#welcome{
    width: 100vw;
    height: 26vw;
    color: white;
    background-color: #1f2937;

}

#headercontainer{
    width: 70vw;
}

#header{
    display: flex;
    justify-content: center;
}

#headerlinks{
    float: right;
    display: flex;
    justify-content: space-around;
    width: 20vw;
    font-family: 'Courier New', Courier, monospace;
}

#headerlinks > a{
    font-size: 30px;
    flex: 1;
}

a{
    text-decoration: none;
    color: white;
}

#websiteinfo{
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    
}

#websiteinfocontainer{
    width: 70vw;
    
}

#welcomemessage{
    width: 24vw;
    font-size: 30px;
    float: left;
    height: 17vw;
}


#title{
    font-size: 50px;
}
#messagecontent{
    font-size: 16px;
    line-height: 1;
}

.signupbutton{
    background-color: #3b82f6;
    padding: 5px;
    max-width: 100px;
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
    user-select: none;
}

.signupbutton:hover{
    background-color: #2877f7 ;
}

#messageimage{
    margin-left: 40px;
    width: 43.8vw;
    height: 11.8vw;
    background-color: #6d747d;
    float: left;
    text-align: center;
    color: white;
    
}

#content{

}
#footer{

}